#modalCustomProduct {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #2e2e2e;
}
.plaque-container {
    position: relative;
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #ccc;
}
.draggable-text {
    position: absolute;
    cursor: move;
    padding: 5px;
}
.draggable-text[contenteditable="true"] {
    border: 1px solid #000;
}
.draggable-text span {
    width: 100% !important;
    height: 100%;
    outline: none;
}
.draggable-text:hover {
    border: solid 1px #000 !important;
}
.controls {
    margin-top: 20px;
}
.controls button {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 120%;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.controls button:hover {
    background-color: #b4b4b4;
    transition: all 0.15s ease-in-out;
}
.delete-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}
.draggable-text:hover .delete-button {
    display: block;
}
.info-button {
    position: absolute;
    bottom: -10px;
    left: -10px;
    background: #0000ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.draggable-text:hover .info-button {
    display: flex;
}

.opt-controls {
    width: 200px;
    display: none; /* flex */
    flex-direction: column;
    gap: 10px;
}
.opt-controls span {
    display: flex;
    flex-direction: column;
}

/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        appearance: none;
        -webkit-appearance: none;
        background-color: #36a86f;
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        appearance: none;
        -webkit-appearance: none;
        color: #36a86f;
    }

}
input[type='range']::-moz-range-progress,
input[type='range']::-ms-fill-lower {
    background-color: #36a86f;
} */
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-inputs > * {
    margin: 6px;
}
.radio-input:checked + .radio-tile {
    border-color: #36a86f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #36a86f;
}
.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #36a86f;
    border-color: #36a86f;
}
.radio-input:checked + .radio-tile .radio-icon svg {
    fill: #36a86f;
}
.radio-input:checked + .radio-tile .radio-label {
    color: #36a86f;
}
.radio-input:focus + .radio-tile {
    border-color: #36a86f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}
.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    color: #494949;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}
.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}
.radio-tile:hover {
    border-color: #36a86f;
}
.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}
.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}
.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}
.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}